<!DOCTYPE html>
<html lang="ko" ng-app="community">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Angular js -->
  <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
  

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/community.css" />
  <link rel="stylesheet" type="text/css" href="css/nav.css" />

  <title>놀러와 마이홈</title>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%">



<!-- Page Content -->
<div class="container" style="width:50%; height:100%; margin-top:100px">

  <!-- Project One -->
  <div class="row" style="width:100%; height:100%;">
    <div class="community_post_img_div" style="width:20%; height:100%;">
      <a href="'http://13.124.196.226:3000/communitydetail'">
        <img class="community_post_img" style="width:100%; height:100%;" src="http://placehold.it/700x300" alt="">
      </a>
    </div>
    <div class="posting_content" style="width:80%; height:100%;">
      <h3>Project One</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at
        voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet
        unde.</p>
      <a class="btn btn-primary" href="#">View Project</a>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Project Two -->
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Project Two</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus
        distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
      
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>

</div>


  <nav class="navbar navbar-expand-lg nav" ng-controller="logincheckCtrl">
    <div class="nav-logo">
      <a class="navbar-bran" href='http://13.124.196.226:3000/'>WMH</a>
    </div>
    <div class="collapse navbar-collapse nav-menu">
      <ul class="navbar-nav mr-auto nav-ul">
        <li class="nav-item nav-li-magazine">
          <a class="nav-a-text3" href='http://13.124.196.226:3000/magazines'>매거진</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/community'>커뮤니티</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/preinspection'>사전전검</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/estimatelist'>견적요청</a>
        </li>
      </ul>
    </div>
    <div class = "nav-div-form" ng-init="load()" ng-style="div_login">
      <form>
        <button ng-show="showHide_logout" class="btn btn-secondary my-sm-0 nav-button-login" onclick="location.href = 'http://13.124.196.226:3000/login'"
          type="button">로그인</button>
        <button ng-show="showHide_logout" class="btn btn-secondary my-sm-0 nav-button-signup" onclick="location.href = 'http://13.124.196.226:3000/signup'"
          type="button">회원가입</button>
        <button ng-show="showHide_login" class="btn btn-secondary my-sm-0 nav-button-mypage" onclick="location.href = 'http://13.124.196.226:3000/mypage'"
          type="button">마이페이지</button>
        <button ng-show="showHide_login" class="btn btn-secondary my-sm-0 nav-button-logout" onclick="location.href = 'http://13.124.196.226:3000/'"
          type="button">로그아웃</button>
      </form>
    </div>
  </nav>

</body>

</html>
