<!DOCTYPE html>
<html lang="ko" ng-app="community">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Angular js -->
  <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="js/angularCommunity.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/community.css" />
  <link rel="stylesheet" type="text/css" href="css/nav.css" />
  <link rel="stylesheet" type="text/css" href="css/footer.css" />
  <title>놀러와 마이홈 - 커뮤니티</title>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%">
  <!-- Page Content -->
  <div class="container2 content3" style="width:60%; height:100%; margin-top:5% ">
    <div style="width:100%; height:30px;">
      <button class="btn btn-secondary btn-sm" ng-controller="logincheckCtrl" style="float:right;" onclick="location.href = 'http://13.124.196.226:3000/communityposting'">작성</button>
    </div>
    <br/>
    <div ng-controller="communityListCtrl">
      <div class="row" style="width:100%; height:150px; margin: 0px 0px 20px 0px; border-radius: 5px; box-shadow: 0px 0px 1px #000; border: 0.1px solid black;"
        ng-repeat="c in community_list" ng-click="userClickCommunity(c.community_idx)">
        <div class="community_post_img_div" style="width:25%; height:100%; ">
          <a href="http://13.124.196.226:3000/communitydetail">
            <img class="community_post_img" style="width:100%; height:100%; border: 4px;" ng-src="data:image/jpeg;base64,{{c.encodedimage}}"
              alt="">
          </a>
        </div>
        <div class="posting_content" style="width:75%; height:100%; padding:10px 20px 0px 20px; border-left:0.2px solid gray;">
          <div>
            <table style="width:100%;">
              <tr>
                <td>
                  <h4>{{c.community_title}}</h4>
                </td>
                <td align="right">
                  <div><span><i class="fa fa-user"></i></span> {{c.user_nickname}}</div>
                </td>
              </tr>
            </table>
          </div>

          <p style="color:gray;">{{c.community_content}}</p>
          <div class="hit-like-post" style="padding-top:20px">
            <table style="width:100%;">
              <tr>
                <td style="width:10%;"><span><i class="fa fa-heart" style="color:red;"></i></span>{{c.community_like_count}}</td>
                <td style="width:10%;"><span><i class="fa fa-comment"></i></span> {{c.community_comment_count}}</td>
                <td style="width:10%;"><span><i class="fa fa-eye"></i> </span>{{c.community_hit_count}}</td>
                <td align="right"><span><i class="fa fa-calendar"></i> </span> {{c.community_post_date}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div style="text-align:center;">
        <pagination on-select-page="pageChanged(page)" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
          class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"
          ng-click="clickpage"></pagination>
      </div>
      <hr />
      <!-- <div ng-controller="PaginationDemoCtrl" style="text-align:center;">
      <pagination on-select-page="pageChanged(page)" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm"
        boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" ng-click="clickpage"></pagination>
    </div> -->
    </div>
  </div>

  <nav class="navbar navbar-expand-lg nav" ng-controller="logincheckCtrl">
    <div class="nav-logo">
      <a href='http://13.124.196.226:3000/'><img class="logo_wmh" src="./img/logo_WMH.png"></a>
    </div>
    <div class="collapse navbar-collapse nav-menu">
      <ul class="navbar-nav mr-auto nav-ul">
        <li class="nav-item nav-li-magazine">
          <a class="nav-a-text3" href='http://13.124.196.226:3000/magazines'>매거진</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/community'>커뮤니티</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/preinspection'>사전점검</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/estimatelist'>견적요청</a>
        </li>
      </ul>
    </div>
    <div class="nav-div-form" ng-init="load()" ng-style="div_login">
      <form>
        <a ng-show="showHide_logout" class="nav-button-login" href='http://13.124.196.226:3000/login'>로그인</a>
        <a ng-show="showHide_logout" class="nav-button-signup" href='http://13.124.196.226:3000/signup'>회원가입</a>
        <a ng-show="showHide_login" class="nav-button-mypage" href='http://13.124.196.226:3000/mypage'>마이페이지</a>
        <a ng-show="showHide_login" class="nav-button-logout" ng-click ="logout()">로그아웃</a>
      </form>
    </div>
  </nav>

  <footer class="page-footer font-small mdb-color pt-4 footer">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3 footer_container">
        <div class="col-md-3 col-lg-3 col-xl-3 footer_main">
          <h6 class="text-uppercase mb-4 font-weight-bold">놀러와 마이홈 </h6>
          <p>This is our first Web Site.<br> Our site allows users and operators to match and request quotes.</p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 footer_sponser">
          <h6 class="text-uppercase mb-4 font-weight-bold">Sponser</h6>
          <p>
            Samsung Electronics Co., Ltd.
          </p>
          <p>
            Intel Corp.
          </p>
          <p>
            Google
          </p>
          <p>
            Amazon Web Services Inc.
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-4 col-lg-3 col-xl-3 footer_contact">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fa fa-home mr-3"></i> 서울과학기술대학교 학군단 314 </p>
          <p>
            <i class="fa fa-envelope mr-3"></i> info@seoultech.co.kr</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 02 123-4567</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 02 234 567 89</p>
        </div>
      </div>
      <hr>
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-left">© 2018 Copyright:
            <strong> Darack Inc. All rights reserved.</strong>
          </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>