<!DOCTYPE html>
<html lang="ko" ng-app="mypage">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Angular js -->
  <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="js/angularMypage.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/nav.css" />
  <link rel="stylesheet" type="text/css" href="css/mypage.css" />
  <link rel="stylesheet" type="text/css" href="css/footer.css" />

  <title>놀러와 마이홈 - 마이페이지</title>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%">

  <div class="wrap">
    <div class="card align-middle" style="width:20rem; border-radius:20px;">
      <div class="card-body" ng-controller="passwordCheckCtrl">
        <form class="form-passwordCheck" method="POST">
          <h5 class="form-heading"></h5>
          <label for="inputPassword" class="sr-only">패스워드확인</label>
          <input type="password" id="user_password" value="1234" class="form-control" placeholder="패스워드 입력" required
            autofocus ng-model="pw"><br>
          <div>
            <br />
          </div>
          <button id="btn-Yes" class="btn btn-sm btn-primary btn-block" type="submit" ng-click="clickPasswordCheck()">확
            인</button>
          <div>
            <br />
          </div>
        </form>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg nav" ng-controller="logincheckCtrl">
      <div class="nav-logo">
        <a href='http://13.124.196.226:3000/'><img class="logo_wmh" src="./img/logo_WMH.png"></a>
      </div>
      <div class="collapse navbar-collapse nav-menu">
        <ul class="navbar-nav mr-auto nav-ul">
          <li class="nav-item nav-li-magazine">
            <a class="nav-a-text3" href='http://13.124.196.226:3000/magazines'>매거진</a>
          </li>
          <li class="nav-item nav-li">
            <a class="nav-a-text4" href='http://13.124.196.226:3000/community'>커뮤니티</a>
          </li>
          <li class="nav-item nav-li">
            <a class="nav-a-text4" href='http://13.124.196.226:3000/preinspection'>사전점검</a>
          </li>
          <li class="nav-item nav-li">
            <a class="nav-a-text4" href='http://13.124.196.226:3000/estimatelist'>견적요청</a>
          </li>
        </ul>
      </div>
      <div class="nav-div-form" ng-init="load()" ng-style="div_login">
        <form>
          <a ng-show="showHide_logout" class="nav-button-login" href='http://13.124.196.226:3000/login'>로그인</a>
          <a ng-show="showHide_logout" class="nav-button-signup" href='http://13.124.196.226:3000/signup'>회원가입</a>
          <a ng-show="showHide_login" class="nav-button-mypage" href='http://13.124.196.226:3000/mypage'>마이페이지</a>
          <a ng-show="showHide_login" class="nav-button-logout" ng-click="logout()">로그아웃</a>
        </form>
      </div>
    </nav>
    <footer class="page-footer font-small mdb-color pt-4 footer">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3 footer_container">
          <div class="col-md-3 col-lg-3 col-xl-3 footer_main">
            <h6 class="text-uppercase mb-4 font-weight-bold">놀러와 마이홈 </h6>
            <p>This is our first Web Site.<br> Our site allows users and operators to match and request quotes.</p>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-2 col-lg-2 col-xl-2 footer_sponser">
            <h6 class="text-uppercase mb-4 font-weight-bold">Sponser</h6>
            <p>
              Samsung Electronics Co., Ltd.
            </p>
            <p>
              Intel Corp.
            </p>
            <p>
              Google
            </p>
            <p>
              Amazon Web Services Inc.
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none">
          <div class="col-md-4 col-lg-3 col-xl-3 footer_contact">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p>
              <i class="fa fa-home mr-3"></i> 서울과학기술대학교 학군단 314 </p>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@seoultech.co.kr</p>
            <p>
              <i class="fa fa-phone mr-3"></i> + 02 123-4567</p>
            <p>
              <i class="fa fa-print mr-3"></i> + 02 234 567 89</p>
          </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-left">© 2018 Copyright:
              <strong> Darack Inc. All rights reserved.</strong>
            </p>
          </div>
          <div class="col-md-5 col-lg-4 ml-lg-0">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
</body>

</html>