<!DOCTYPE html>
<html lang="ko" ng-app="precheck">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Angular js -->
  <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="js/angularMain.js"></script>
  <script src="js/angularprecheck.js"></script>
  <script src="js/angularprecheckDrag.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/nav.css" />
  <link rel="stylesheet" type="text/css" href="css/precheck.css" />

  <title>놀러와 마이홈</title>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%">
  <div class="container precheck-div" ng-controller="precheckCtrl">
    <div class=""><img id="dragged_img" height="40px" weight="20px" ng-style="img_style" draggable="true" ondragstart="drag(event)" ng-src="./img/pin.png" alt="이미지 없음"></div>
    <table class="table table-bordered">
      <tbody>
        <form>
          <tr>
            <th>도면 사진 </th>
            <td>
              <div class="wrapper" ><img id="base_img" ondrop="drop(event)" ondragover="allowDrop(event)" ng-model="precheck_img" ng-src="./img/도면.JPG" alt="이미지 없음"></div>
            </td>
          </tr>
          <tr>
            <th>사진 </th>
            <td>
              <div class="wrapper"><img ng-src="data:image/jpg;base64,{{image}}" alt="이미지 없음"><br /></div>
            </td>
          </tr>
        </form>
      </tbody>
    </table>
    <div>
      <input type="button" value="새 도면 등록" class="precheck-float-right" onclick="location.href = 'http://13.124.196.226:3000/precheckcreate'" />
    </div>
  </div>

  <nav class="navbar navbar-expand-lg nav" ng-controller="logincheckCtrl">
    <div class="nav-logo">
      <a class="navbar-bran" href='http://13.124.196.226:3000/'>WMH</a>
    </div>
    <div class="collapse navbar-collapse nav-menu">
      <ul class="navbar-nav mr-auto nav-ul">
        <li class="nav-item nav-li-magazine">
          <a class="nav-a-text3" href='http://13.124.196.226:3000/magazines'>매거진</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/talks'>커뮤니티</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/precheck'>사전전검</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/estimatelist'>견적요청</a>
        </li>
      </ul>
    </div>
    <div class="nav-div-form" ng-init="load()" ng-style="div_login">
      <form>
        <button ng-show="showHide_logout" class="btn btn-secondary my-sm-0 nav-button-login" onclick="location.href = 'http://13.124.196.226:3000/login'"
          type="button">로그인</button>
        <button ng-show="showHide_logout" class="btn btn-secondary my-sm-0 nav-button-signup" onclick="location.href = 'http://13.124.196.226:3000/signup'"
          type="button">회원가입</button>
        <button ng-show="showHide_login" class="btn btn-secondary my-sm-0 nav-button-mypage" onclick="location.href = 'http://13.124.196.226:3000/mypage'"
          type="button">마이페이지</button>
        <button ng-show="showHide_login" class="btn btn-secondary my-sm-0 nav-button-logout" onclick="location.href = 'http://13.124.196.226:3000/'"
          type="button">로그아웃</button>
      </form>
    </div>
  </nav>
</body>

</html>