<!--
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    <meta name="description" content="">
    <meta name="author" content="">

     Bootstrap CSS
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/talks.css" />

    <title>놀러와 마이홈 - 커뮤니티</title>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href = 'http://13.124.196.226:3000/'>WMH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav navbar-right mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="">매거진</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">사전전검</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">견적요청</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-secondary my-2 my-sm-0 navbutton" onclick="location.href = 'http://13.124.196.226:3000/login'"
                    type="button">로그인</button>
                <button class="btn btn-secondary my-2 my-sm-0 navbutton" onclick="location.href = 'http://13.124.196.226:3000/signup'"
                    type="button">회원가입</button>
            </form>
        </div>
    </nav>

    <div class="modal">
    </div>

    <div class="container">
    <h2>커뮤니티</h2>

    <div>
      <a href="/talkswrite.html">글쓰기</a>
    </div>

    <table class="table table-striped table-bordered table-hove">
        <thead>
        <tr>
          <th width="10%">번호</th>
          <th width="40%">제목</th>
          <th width="10%">작성자</th>
          <th width="20%">작성일</th>
          <th width="10%">조회수</th>
          <th width="10%">♥</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>배고파</td>
            <td>tester</td>
            <td>2018.11.20</td>
            <td>5</td>
            <td>1</td>
            </tr>

            <tr>
              <td>124</td>
              <td>배고파2</td>
              <td>tester2</td>
              <td>2018.11.20</td>
              <td>56</td>
              <td>1</td>
              </tr>
          </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
-->
<!DOCTYPE html>
<html lang="ko" ng-app="Main">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

  <!-- Angular js -->
  <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
  <script src="js/angularMain.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/nav.css" />
  <link rel="stylesheet" type="text/css" href="css/talks.css" />
  <title>놀러와 마이홈</title>
</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%">
  <nav class="navbar navbar-expand-lg nav" ng-controller="logincheckCtrl">
    <div class="nav-logo">
      <a class="navbar-bran" href='http://13.124.196.226:3000/'>WMH</a>
    </div>
    <div class="collapse navbar-collapse nav-menu">
      <ul class="navbar-nav mr-auto nav-ul">
        <li class="nav-item nav-li-magazine">
          <a class="nav-a-text3" href='http://13.124.196.226:3000/magazines'>매거진</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/talks'>커뮤니티</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/'>사전전검</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-a-text4" href='http://13.124.196.226:3000/estimatelist'>견적요청</a>
        </li>
      </ul>
    </div>
    <div class = "nav-div-form" ng-init="load()" ng-style="div_login">
      <form>
        <button ng-show="showHide_logout" class="btn btn-secondary my-sm-0 nav-button-login" onclick="location.href = 'http://13.124.196.226:3000/login'"
          type="button">로그인</button>
        <button ng-show="showHide_logout" class="btn btn-secondary my-sm-0 nav-button-signup" onclick="location.href = 'http://13.124.196.226:3000/signup'"
          type="button">회원가입</button>
        <button ng-show="showHide_login" class="btn btn-secondary my-sm-0 nav-button-mypage" onclick="location.href = 'http://13.124.196.226:3000/mypage'"
          type="button">마이페이지</button>
        <button ng-show="showHide_login" class="btn btn-secondary my-sm-0 nav-button-logout" onclick="location.href = 'http://13.124.196.226:3000/'"
          type="button">로그아웃</button>
      </form>
    </div>
  </nav>
  커뮤니티
</body>

</html>
