.estimateList-div {
  margin-top:8%;
  margin-bottom: 3%;
}


.estimateList-float-right {
  float : right;
  margin-bottom: 3%;
}

.estimateList-float-left {
  float : left;
}

.pagenation {
  text-align: center;
}
