.estimate-div {
  margin-top:7%;
  margin-bottom: 3%;
}

.estimate-float-right {
  float : right;
  margin-bottom: 5%;
}

.estimate-detail-container{
  min-height: 100%;
}

.createAnswer-div {
  height : 5%;
}