* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
html {
    height: 100%;
}

body {
    margin: 0;
    padding:0;
}
    
.footer {
    position:relative; 
    left:0px; 
    bottom:0px; 
    max-height: 1000px;
    height: auto; 
    width:100%; 
    background:#45526e!important; 
    color: white;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 19px; /* footer height */
}

.footer_container {
    text-align : center;
    padding : 0;
}

.footer_sponser {
    display : inline-block;
    margin:0 auto;
}

.footer_contact {
   float : right;
}

.footer_main {
    float : left;
}

.col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 20.666667%;
    max-width: 20.666667%;
}

.content {
    margin-top:10%;
    width: 100%;
    margin-bottom:150px;
}

.content2 {
    margin-top:10%;
    width: 100%;
    margin-bottom:300px;
}

.content3 {
    margin-top:10%;
    width: 100%;
    margin-bottom:400px;
}

.content4 {
    margin-top:10%;
    width: 100%;
    margin-bottom:450px;
}