
html {
    position: relative;
    min-height: 100%;
    margin:0;
}

body {
    margin: 0;
    min-height: 100%;
}

.wrapper-footer {
    min-height: 100%;
    position: relative;
}
    
footer {
    position: absolute;
    width : 100%;
    bottom: 0;
    height: 170px;
}

#wrapper {
    position:relative;
    min-height:100%
}

.footer_container {
    text-align : center;
    padding : 0;
}

.footer_sponser {
    display : inline-block;
    margin:0 auto;
}

.footer_contact {
   float : right;
}

.footer_main {
    float : left;
}

.col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 20.666667%;
    max-width: 20.666667%;
}