* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
    html {
    height: 100%;
    }
    body {
    margin: 0;
    height: 100%;
    padding-bottom : 0;
    }
    .wrap {
    min-height: 100%;
    position: relative;
    }
    
    footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    }

.container {
    text-align : center;
    margin-right : 0;
}

.footer_sponser {
    display : inline-block;
    margin:0 auto;
    width: 150px;
    max-width: 20.666667%;
    flex: 0 0  20.666667%;
}

.footer_contact {
   float : right;
}

.footer_main {
    float : left;
}