
  .nav {
    position: fixed;
    top: 0px;
    margin-top: 15px;
  }

  .nav-logo {
    font-weight: bolder;
    color: black;
  }

  .nav-logo:hover {
    font-weight: bolder;
    color: black;
  }

  .nav-form{

  }

  .nav-button-signup {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .nav-button-login {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin-right: 5px;
  }

  /* nav menu 간격*/
  #navdiv {
    text-align: center;
  }

  .nav-ul {
    display: inline-block;
    width: 1280px;
  }

  .nav-li {
    display: inline-block;
    margin-left: 70px;
  }

  .nav-a-text3 {
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .nav-a-text4 {
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .nav-a-text3:hover {
    text-decoration: none;
    color: #dcdcdc;
    content: "";
    display: block;
    width: 50px;
    border-bottom: 1px solid #bcbcbc;
  }

  .nav-a-text4:hover {
    text-decoration: none;
    color: #dcdcdc;
    content: "";
    display: block;
    width: 64px;
    border-bottom: 1px solid #bcbcbc;
  }

  .jbContent {
    height: 2000px;
  }
