.nav {
  position: fixed;
  top: 0px;
  width : 100%;
  margin-top: 15px;
  padding:0;
}

.nav-logo {
  width:10%;
  margin-left : 2%;
}

.nav-logo>a {
  font-weight: bolder;
  color: black;
}

.nav-logo>a:hover {
  font-weight: bolder;
  color: black;
  text-decoration: none;
}

.nav-form {
  width:10%;
}

.nav-button-signup {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.nav-button-login {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-right: 5%;
}

/* nav menu 간격*/
.nav-menu {
  text-align: center;
  width:80%;
}

.nav-ul {
  display: inline-block;
  width:100%;
}

.nav-li {
  display: inline-block;
  margin-left: 7%;
}

.nav-a-text3 {
  display: block;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-a-text4 {
  display: block;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-a-text3:hover {
  text-decoration: none;
  color: #dcdcdc;
  content: "";
  display: block;
  border-bottom: 1px solid #bcbcbc;
}

.nav-a-text4:hover {
  text-decoration: none;
  color: #dcdcdc;
  content: "";
  display: block;
  border-bottom: 1px solid #bcbcbc;
}
