.precheck-div {
    margin-top:7%;
  }

.precheck-float-right {
    float : right;
}

.img_container {
    height: 60%;
}

table tr{
    text-align : center;
}

.wrapper {
    width: 100%;
}

.grabbable {
    cursor: move; cursor: -moz-grab; cursor: -webkit-grab; cursor: grab; 
}

.grabbing {
   cursor: move; cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing;
}

.based-img {
    z-index: 1;
}

.pin-img {
    z-index: 2;
    position : absolute;
    width: 20px;
    height: 40px;
}