.preinspection-div {
    margin-top:7%;
  }

.preinspection-float-right {
    float : right;
}

.img_container {
    height: 60%;
}

table tr{
    text-align : center;
}

.wrapper {
    width: 100%;
    background-image: url("../img/도면.jpg");
    position: absolute;
    z-index:1;
}

.grabbable {
    cursor: move; cursor: -moz-grab; cursor: -webkit-grab; cursor: grab; 
}

.grabbing {
   cursor: move; cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing;
}

/* .based-img {
    z-index: 2;
} */

.pin-img {
    z-index: 3;
    width: 30px;
    height: 40px;
}